<div class="container">
  <div class="btn-area clear_g">
    <a href="#" class="btn-g btn-google"><span class="img_g">get it on Googles Play</span></a>
    <a href="#" class="btn-g btn-apple"><span class="img_g">Download on the App Store</span></a>
  </div>
  <div class="col-up">
    <div class="goto">
      <ul>
        <li><a href="#">Company</a></li>
        <li><a href="#"> Official Rules </a></li>
        <li><a href="#"></a>Privacy Policy</li>
        <li><a href="#"></a>Press Kit</li>
      </ul>
    </div>
  </div>
  <div class="col-down">
    ⓒ ICELIGHT
  </div>
  </div>